body {
    margin: 0px;
}

#jin {
    display: inline-block;
    width: 55px;
   padding-top: 1px;
    font-size: 20px;
    color: white;
}
#yin {
    display: inline-block;
    width: 30px;
    padding-top: 1px;
    font-size: 20px;
    color: white;
}

#tong {
    display: inline-block;
     
    padding-top: 1px;
    font-size: 20px;
    color: white;
}



.qiantu {
    vertical-align:top;
}
 












.beijing1 {
    position: fixed;
    left: 0px;
    top: 0px;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
 



.beijing2 {
    position: absolute;
    left: 3%;
    top: 0px;
    background: #FFFFFF;
    width: 93%;
    height: 93%;
    border-radius: 10px;
    margin: 5% auto;
}

.tankuang {
    position: absolute;
    left: 4.5%;
    top: 2px;
    background: #FFFFff;
    width: 91%;
    height: 91%;
    border-radius: 10px;
    margin: 5% auto;
}

#wupinkuang {
    position: absolute;
    overflow: auto;
    background: #ffFFff;
    height: 96%;
    width: 100%;
}





.beijing3 {
    position: absolute;
    left: 1.5%;
    top: 27px;
    background: #FFFFFF;
    width: 97%;
    height: 87%;
    border-radius: 10px;
    margin: 5% auto;
}

.tankuang1 {
    position: absolute;
    left: 2.5%;
    top: 31px;
    background: #FFFFFF;
    width: 95%;
    height: 86%;
    border-radius: 10px;
    margin: 5% auto;
}

#wupinkuang1 {
    position: absolute;
    overflow: auto;
    top: 31px;
    height: 90%;
    width: 100%;
   
}

#xuanzekuang {
    position: absolute;
    overflow: auto;
    height: 40px;
    width: 100%;
    bottom: 35px;
}


#zhiye {
    position: absolute;
    left: 3%;
}

#dengji {
    position: absolute;
    left: 150px;
}







#text1 {
    position: relative;
    background: #fff;
    width: 90%;
    height: 380px;
    border-radius: 7px;
    left: 2.5%;
    margin: 0 auto;
    resize: none
}



.header-right {
    position: absolute;
    width: 24px;
    height: 24px;
    font-size: 20px;
    border-radius: 5px;
    background: red;
    color: #FFFFFF;
    right: 5px;
    top: 1px;
    text-align: center;
}

 

#tianjia {
    position: absolute;
    width: 95px;
    height: 30px;
    border-radius: 5px;
    background: blue;
    font-size: 20px;
    color: #FFF;
    text-align: center;
    left: 21%;
}

#qingchu {
    position: absolute;
    width: 95px;
    height: 30px;
    border-radius: 5px;
    background: blue;
    color: #FFF;
    font-size: 20px;
    text-align: center;
    right: 21%;
}


#ckwp {
    position: absolute;
    width: 165px;
    height: 31px;
    border-radius: 5px;
    background: blue;
    color: #FFF;
    font-size: 21px;
    text-align: center;
    left: 27%;
    bottom: 0px;
}




#tijiao {
       
     position: relative;
     top: 2px;
    padding-left: 10px;
    padding-right: 10px;
       padding-top: 3px;
    padding-bottom: 3px;
      

    
    border-radius: 5px;
    background: blue;
    color: #FFF;
    font-size: 22px;
    text-align: center;
}


#queren {
    position: absolute;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    background: blue;
    color: #FFF;
    font-size: 17px;
    text-align: center;
    right: 30%;
    bottom: 2px;
}

#quxiao {
    position: absolute;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    background: blue;
    color: #FFF;
    font-size: 17px;
    text-align: center;
    right: 3%;
    bottom: 2px;
}

#shuliang1 {
    position: absolute;
    font-size: 16px;
    text-align: center;
    left: 3%;
    bottom: 1px;
}

#iiid {
    font-size: 16px;
    position: absolute;
    top: 1%;
    right: 3%;
}




#wpt {
  
    width: 30px;
    height: 30px;
}


#wpm {
    position:relative;
    bottom: 4px;
    left: 3px;
}

#jg {
    position: relative;
    bottom: 4px;
    left: 3px;
    color: red;
}

 


#jiazai {
    position: absolute;
    top: 28px;
  
    font-size: 18px;
    color: deeppink;
    
}

 
